@media (max-width: 1199px) {
    .home-titles h1 {
        font-size: 3em;
    }

    .home-page .under-title {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .fixed-header {
        max-width: 930px;
    }

    .chapter-article {
        width: 50%;
    }


}

@media (max-width: 991px) {
    .fixed-header {
        max-width: 690px;
    }

    .navbar-nav {
        background: rgb(132, 149, 174);
        border-radius: 15px;
    }

    h3 {
        font-size: 1.3em;
    }
}

@media (max-width: 767px) {
    .moutain-img {
        width: 120px;
    }

    .fixed-header {
        max-width: 510px;
    }

    .about-page h1 {
        font-size: 1.75em;
    }

    .text-presentation {
        font-size: 18px;
        padding: 15px;
    }

    .chapters-page h1 {
        font-size: 2em;
    }

    .chapter-article {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .fixed-header {
        max-width: calc(100% - 30px);
    }
}

@media (min-width: 992px) {

    /* Alignement justifié de la barre de navigation */
    .navbar-expand-lg .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }
}