body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

body:not(.admin-page) {
    background-image: url('../img/alaska.jpg');
    background-size: cover;
}

.admin-page footer {
    display: none;
}

h1 {
    /* color: white; */
    text-align: center;
    /* margin-top: 35px; */
    /* margin-bottom: 45px; */
    /* margin-bottom: 60px; */
    /* font-size: 3.5em; */
}

.login-button,
.logout-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*----------------------------------------------
                    FRONTEND
----------------------------------------------*/

/*Home*/

.moutain-img {
    width: 200px;
}

.navbar {
    padding: 20px 0 0 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(60, 106, 141);
}

.home h1 {
    font-size: 5em;
    font-weight: bold;
    color: rgb(21, 62, 104);
    margin-top: 125px;
}

.home .under-title {
    font-size: 2.2em;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    padding-top: 25px;
    margin-right: 20px;
}

/*About*/

.about .under-title {
    font-size: 2.2em;
    color: rgb(21, 62, 104);
    text-align: center;
    font-style: italic;
    font-weight: 700;
}

.author-presentation {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px 0 60px 0;
}

.text-presentation {
    font-size: 24px;
    text-align: justify;
    padding: 30px 45px 30px 45px;
    margin-bottom: 30px;
}

.chapters-button {
    margin-bottom: 0;
    padding-bottom: 40px;
}

/*Chapters & Chapter*/

.no-chapter-msg {
    font-size: 2em;
    color: rgb(21, 62, 104);
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-top: 50px;
}

.list-posts-view-title {
    margin-bottom: 35px;
}

.home-button,
.admin-return {
    position: absolute;
    left: 20px;
    top: 20px;
}

.title-chapter {
    background-color: rgb(60, 106, 141);
    text-align: center;
    color: white;
    padding: 10px;
}

.title-chapter p {
    margin: 0;
}

.content-chapter {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.read-more-button {
    text-align: center;
}

.return {
    font-size: 20px;
    font-style: italic;
}

/*----------------------------------------------
                    BACKEND
----------------------------------------------*/

/*Login*/

.login-form,
.success-message,
.error-message {
    margin-top: 190px;
    /* margin-top: 50vh; */
    /* poussé de la moitié de hauteur de viewport */
    /* transform: translateY(-50%); */
    /* tiré de la moitié de sa propre hauteur */
}

.login-form input,
.login-form button {
    font-size: 18px;
}

/* .login-form .form-row {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
} */

.invalid-feedback {
    font-size: initial;
    font-weight: bold;
}

/* Page d'administration */

.admin-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.admin-nav .nav {
    display: initial;
}

.admin-nav li {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.admin-nav li a {
    color: white;
}

.admin-nav li a:hover {
    color: rgb(53, 58, 63);
    border: rgb(223, 224, 226) 1px solid;
    border-radius: 5px;
    background-color: rgb(223, 224, 226);
}

/* Page de gestion des billets */

.chapter-title {
    font-size: 20px;
}

.table-posts {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-posts:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-warning {
    margin-right: 10px;
}

/* Formulaire pour un billet */

.title-zone {
    width: 100%;
}

.button-form-post {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Message de succès */

.success-message,
.error-message {
    font-size: 24px;
    color: bisque;
}

.success-message p,
.error-message p {
    margin: 0;
}

/* Modal de suppression d'un billet */

.modal-title {
    color: red;
    font-weight: bold;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }
}